<section id="teams_index">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <%= link_to "All", teams_path(subarea_id: "all"), class: "nav-link active", id: "all", remote: true %>
    </li>
    <% @subareas.each do |subarea| %>
      <li class="nav-item">
        <%= link_to subarea.name, teams_path(subarea_id: subarea.id), class: "nav-link", id: subarea.id, remote: true %>
      </li>
    <% end %>
  </ul>

  <div id="team_card_container" class="mt-5">
    <%= render partial: 'shared/team_list', :collection => @teams, :as => :team %>
  </div>
</section>