<section id="teams_show">
  <div id="team">
    <%= image_tag @team.logo.url %>
    <div class="ml-4">
      <h4><%= @team.full_name %></h4>
      <h4><%= @team.abbr_name %></h4>
    </div>
  </div>

  <div id="players" class="pt-5">
    <%= render partial: "shared/team_player_list" %>
  </div>
</section>