<section id="datas_daily">
  <input type="text" id="picker" class="form-control">
  <div id="game_list">
    <% @games.each do |game| %>
      <%= render partial: 'shared/daily_games', locals: { game: game } %>
    <% end %>
  </div>
</section>