#datas_daily {
  #picker {
    max-width: 300px;
  }
  .game {
    display: flex;
    justify-content: flex-start;
    position: relative;

    .team {
      text-align: center;
    }

    .game_status {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
    }
  }
  .team {
    width: 200px;
  }

  img {
    width: 100%;
  }

  img:hover {
    border: 1px solid #ccc;
  }

  .game::after {
    position: absolute;
    content: " ";
    display: block;
    height: 2px;
    width: 582px;
    background-color: #777;
    bottom: -5px;
  }
}