#players_show {
  .player_name, .team_name {
    display: inline-block;
  }

  .top_area {
    .input_area {
      * {
        display: inline-block;
      } 
    }
  }

  .few {
    max-width: 1500px;
  }
  .all {
    width: 1500px;
  }

  table {
    tr {
      td:nth-of-type(1) {
        width: 150px;
      }
      td:nth-of-type(2) {
        width: 100px;
      }
    }
  }
  
  .detail {
    display: none;
  }
}