#teams_index {
  .nav.nav-pills {
    .nav-link {
      color: #777;
    }

    .nav-link.active {
      color: #eee;
      background-color: #aaa;
    }
  }

  #team_card_container {
    display: flex;
    flex-flow: row wrap;

    .card {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 190px;
      height: 320px;

      img {
        height: 188px;
      }
      h6 {
        height: 40px;
      }
      a {
        background-color: #aaa;
        border: none;
      }
    }
  }
}

#teams_show {

  #team {
    background-color: #eee;

    img {
      width: 200px;
    }

    > div {
      display: inline-block;
    }

  }

  #players {
    display: table;
    table-layout: fixed;
    width: 100%;

    .table_row {
      display: table-row;
    }

    .cell {
      display: table-cell;
      padding: 5px 3px;
    }
    
    .header {
      .cell {
        padding: 7px 3px;
        font-size: 18px;
        font-weight: 600;
        border-bottom: 1px solid #777;

        a {
          text-decoration: none;
          color: #222;
        }
        a:hover {
          color: #777;
        }
      }

      .desc::after {
        content: "▼";
        color: #777;
        font-size: 12px;
        margin-left: 5px;
      }
      .asc::after {
        content: "▲";
        color: #777;
        font-size: 12px;
      }
    }
  }
}